{% extends 'pages/parts2/base2.htm' %} {% load static %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>


    <!--Hero section starts-->
    <div class="video-area v1">
        <div class="video-container">
            <div class="overlay op-5"></div>
            <div id="video-wrapper" style="background-image: url(images/header/video-bg.jpg)"> </div>
            <a class="player" data-property="{videoURL:'https://youtu.be/GDGB68VD5DE'}"></a>
            <div class="container video-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="hero-title v2">
                            Explore Your City.

                        </h1>
                        <p class="hero-desc v2">
                            You can’t imagine, what is waiting for you around your city
                        </p>
                    </div>
                    <div class="col-md-12 text-center mar-top-20">
                        <form class="hero__form v2 mar-bot-30" method="POST" enctype="multipart/form-data"
                            action="{% url 'search' %}">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <input class="hero__form-input custom-select" type="text" name="search"
                                        id="place-event" placeholder="What are you looking for?">
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <select class="hero__form-input  custom-select" name="places">
                                        <option>Select Location </option>
                                        <option>Sfax</option>
                                        <option>Sousse</option>
                                        <option>Monastir</option>
                                        <option>Mahdia</option>
                                        <option>Tunis</option>
                                        <option>Hammemat</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <select class="hero__form-input  custom-select" name="category">
                                        <option>Select Categories</option>
                                        <option>Education</option>
                                        <option>Fitness</option>
                                        <option>Hotel</option>
                                        <option>Shopping</option>
                                        <option>café</option>
                                        <option>Restaurant</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <div class="submit_btn text-right md-left">
                                        <button class="btn v3  mar-right-5" type="submit"><i class="ion-ios-search"
                                                aria-hidden="true"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Hero section ends-->
    <!--Popular Category starts-->
    <div class="popular-catagory pad-bot-50 mar-top-20 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">Explore What To do</h2>
                </div>
                <div class="col-md-4">
                    <a href=" {% url 'categori' 'Hotel' %} ">
                        <div class="popular-catagory-content">

                            <div class="popular-catagory-img">
                                <img src="{% static 'images/category/cat-1.jpg'%}" alt="hotel" class="img_fluid">
                            </div>
                            <div class="cat-content">
                                <h4 class="title">Hotel</h4>
                                <span>{{Hotel}} Listings</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <a href="{% url 'categori' 'Shopping' %} ">
                        <div class="popular-catagory-content">
                            <div class="popular-catagory-img">
                                <img src="{% static 'images/category/cat-2.jpg'%}" alt="hotel" class="img_fluid">
                            </div>
                            <div class="cat-content">
                                <h4 class="title">Shopping</h4>
                                <span>{{Shopping}} Listings</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <a href="{% url 'categori' 'café' %} ">
                        <div class="popular-catagory-content">
                            <div class="popular-catagory-img">
                                <img src="{% static 'images/category/cat-3.jpg'%}" alt="restaurent" class="img_fluid">
                            </div>
                            <div class="cat-content">
                                <h4 class="title">Eat &amp; Drink</h4>
                                <span>{{café}} Listings</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'categori' 'Fitness' %} ">
                        <div class="popular-catagory-content">
                            <div class="popular-catagory-img">
                                <img src="{% static 'images/category/sport.jpg'%}" alt="hotel" class="img_fluid">
                            </div>
                            <div class="cat-content">
                                <h4 class="title">Fitness</h4>
                                <span>{{Fitness}} Listings</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>





    <!--Popular Category ends-->
    <!--Trending Place starts-->

    <div class="trending-places section-padding pad-bot-130   bg-pn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">Trending Places</h2>
                </div>
                <div class="col-md-12">
                    <div class="swiper-container trending-place-wrap">
                        <div class="swiper-wrapper">
                            {% for allplaces in allplaces%}




                            {% if allplaces.avg_rating > 4.5 %}
                            <div class="swiper-slide trending-place-item">
                                <div class="trending-img">
                                    <img src=" {{allplaces.Gallery.url}} " alt="#">
                                    {% if allplaces.avg_rating < 2 %}
                                    <span class="trending-rating-pink">{{allplaces.avg_rating}}</span>
                                    {% endif %}
                                    {% if allplaces.avg_rating < 4 and allplaces.avg_rating >= 2 %}
                                    <span class="trending-rating-orange">{{allplaces.avg_rating}}</span>
                                    {% endif %}
                                    {% if allplaces.avg_rating <= 5 and allplaces.avg_rating >= 4 %}
                                    <span class="trending-rating-green">{{allplaces.avg_rating}}</span>
                                    {% endif %}


                                </div>


                                <div class="trending-title-box">
                                    <h4><a href="{% url 'detail' allplaces.id %}">{{allplaces.Listing_Title}}</a></h4>
                                    <div class="rating-star">
                                        <span>

                                            <i
                                                class="fa fa-star{% if  allplaces.avg_rating < 0.5 %}-o{% elif allplaces.avg_rating >= 0.5 and allplaces.avg_rating < 1 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 1.5 %}-o{% elif allplaces.avg_rating >= 1.5 and allplaces.avg_rating < 2 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 2.5 %}-o{% elif allplaces.avg_rating >= 2.5 and allplaces.avg_rating < 3 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 3.5 %}-o{% elif allplaces.avg_rating >= 3.5 and allplaces.avg_rating < 4 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 4.5 %}-o{% elif allplaces.avg_rating >= 4.5 and allplaces.avg_rating < 5 %}-half-o {% endif %}"></i>
                                        </span>


                                    </div>

                                    <ul class="trending-address">
                                        <li><i class="ion-ios-location"></i>
                                            <p>{{allplaces.Address}}</p>
                                        </li>
                                        <li><i class="ion-ios-telephone"></i>
                                            <p>{{allplaces.Phone}}</p>
                                        </li>
                                        <li><i class="ion-android-globe"></i>
                                            <p>{{allplaces.Website}}</p>
                                        </li>
                                    </ul>
                                    <div class="trending-bottom mar-top-15 pad-bot-30">
                                        <div class="trend-left float-left">
                                            {% if allplaces.Category == 'Hotel' %}
                                            <span class="round-bg red"><i class="icofont-hotel"></i></span>{% endif %}
                                            {% if allplaces.Category == 'Fitness' %}
                                            <span class="round-bg green"><i class="icofont-movie"></i></span>{% endif %}
                                            {% if allplaces.Category == 'café' %}
                                            <span class="round-bg green"><i class="icofont-tea"></i></span> {% endif %}
                                            {% if allplaces.Category == 'Restaurant' %}
                                            <span class="round-bg pink"><i class="icofont-restaurant"></i></span>
                                            {% endif %}{% if allplaces.Category == 'Education' %}
                                            <span class="round-bg pink"><i
                                                    class="icofont-education"></i></span>{% endif %}
                                            {% if allplaces.Category == 'Shopping' %}
                                            <span class="round-bg red"><i
                                                    class="icofont-shopping-cart"></i></span>{% endif %}

                                            <p><a href="#">{{allplaces.Category}}</a></p>

                                        </div>

                                        <div class="trend-right float-right">
                                            <div class="trend-open"><i class="ion-clock"></i> Open
                                                <p>till 11.00pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                    <div class="trending-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Trending Place ends-->
    <!--Coupon starts-->

    <div class="coupon-section section-padding">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1"> Coupons &amp; Deals</h2>
                </div>
                <div class="col-md-12">
                    <div class="swiper-container coupon-wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide coupon-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="coupon-img">
                                            <img class="img-fluid" src="{% static 'images/category/coupon/3.jpg'%}"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="coupon-desc float-right">
                                            <h4>30% Discount</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id porta
                                                leo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="coupon-owner mar-top-20">
                                            <a href="store.html">Favola Restaurant</a>
                                            <a href="#" class="rating">
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star-half"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left">
                                            <a class="btn v1" data-toggle="modal" data-target="#coupon_wrap">
                                                Get Coupon
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide coupon-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="coupon-img">
                                            <img class="img-fluid" src="{% static 'images/category/coupon/5.jpg'%}"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="coupon-desc float-right">
                                            <h4>20% Off</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id porta
                                                leo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="coupon-owner mar-top-20">
                                            <a href="store.html">Orion Spa</a>
                                            <a href="#" class="rating">
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star-half"></i>
                                                <i class="ion-android-star-half"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left">
                                            <a class="btn v1" data-toggle="modal" data-target="#coupon_wrap">
                                                Get Coupon
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide coupon-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="coupon-img">
                                            <img class="img-fluid" src="{% static 'images/category/coupon/4.jpg'%}"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="coupon-desc float-right">
                                            <h4>25% Discount</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id porta
                                                leo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="coupon-owner mar-top-20">
                                            <a href="store.html">Hotel La Muro</a>
                                            <a href="#" class="rating">
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star-half"></i>
                                                <i class="ion-android-star-half"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left">
                                            <a class="btn v1" data-toggle="modal" data-target="#coupon_wrap">
                                                Get Coupon
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide coupon-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="coupon-img">
                                            <img class="img-fluid" src="{% static 'images/category/coupon/1.jpg'%}"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="coupon-desc float-right">
                                            <h4>50% OFF</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id porta
                                                leo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="coupon-owner mar-top-20">
                                            <a href="store.html">Penguin Shop</a>
                                            <a href="#" class="rating">
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star-half"></i>
                                                <i class="ion-android-star-half"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left">
                                            <a class="btn v1" data-toggle="modal" data-target="#coupon_wrap">
                                                Get Coupon
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="slider-btn v1 coupon-next"><i class="ion-arrow-right-c"></i></div>
                    <div class="slider-btn v1 coupon-prev"><i class="ion-arrow-left-c"></i></div>
                    <div class="modal fade" id="coupon_wrap">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Get a Coupon</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true"><i class="ion-ios-close-empty"></i></span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-coupon-code">
                                        <div class="store-content">
                                            <div class="text">
                                                Stores :
                                                <span> La Poma ,</span>
                                                <span>Gucci</span>
                                            </div>
                                            <div class="store-content">Cashback : <span>25% cashback </span></div>
                                            <div class="store-content">Valid till : <span>25-5-2019 </span></div>
                                            <div class="cashback-text">
                                                <p>Cashback will be added in your wallet in next 5 Minute of your
                                                    purchase.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="coupon-code">
                                            <h5>
                                                Coupon Code: <span class="coupon-code-wrapper">
                                                    <i class="fa fa-scissors"></i>
                                                    12345
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="coupon-bottom">
                                    <div class="float-left"><a href="single-listing-one.html" class="btn v1">Go to
                                            Deal</a>
                                    </div>
                                    <button type="button" class="btn v1 float-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--Coupon ends-->
    <!--Call to action starts-->

    {% if not user.is_authenticated %}


    <div class="call-to-action pad-tb-70" style="background-image: url('{% static 'images/bg/memphis-colorful.png' %}')"
        ;>
        <div class="overlay op-7 green"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="action-title">
                        <h2>Join Our Amazing Community</h2>
                        <p>
                            Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euimdod
                            tincidunt ut laoreet dolore magna aliquam erat.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="call-to-action text-right sm-left">
                        <a class="btn v9" href="{%  url 'Register' %}">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}




    {% if  user.is_authenticated %}


    <div class="call-to-action pad-tb-70" style="background-image: url('{% static 'images/bg/memphis-colorful.png' %}')"
        ;>
        <div class="overlay op-7 green"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="action-title">
                        <h2>Contact Our Amazing Community</h2>
                        <p>
                            Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euimdod
                            tincidunt ut laoreet dolore magna aliquam erat.
                        </p>
                    </div>
                </div>
                {% if  not user.is_superuser %}

                <div class="col-md-4">
                    <div class="call-to-action text-right sm-left">
                        <a class="btn v9" href="{% url 'contact' %}">contact us</a>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}



    <!--Call to action ends-->
    <!--Trending events starts-->
    <div class="trending-places section-padding pad-bot-130 bg-pn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">What's happening?</h2>
                </div>
                <div class="col-md-12">
                    <div class="swiper-container trending-place-wrap">
                        <div class="swiper-wrapper">
                            {% for allplaces in allplaces %}
                            <div class="swiper-slide trending-place-item">
                                <div class="trending-img">
                                    <img src="{{allplaces.Gallery.url}} " alt="#">
                                    {% if allplaces.avg_rating < 2 %}
                                    <span class="trending-rating-pink">{{allplaces.avg_rating}}</span>
                                    {% endif %}
                                    {% if allplaces.avg_rating < 4 and allplaces.avg_rating >= 2 %}
                                    <span class="trending-rating-orange">{{allplaces.avg_rating}}</span>
                                    {% endif %}
                                    {% if allplaces.avg_rating <= 5 and allplaces.avg_rating >= 4 %}
                                    <span class="trending-rating-green">{{allplaces.avg_rating}}</span>
                                    {% endif %}
                                    <span class="save-btn"><i class="icofont-heart"></i></span>

                                </div>
                                <div class="trending-title-box">
                                    <h4><a href="{% url 'detail' allplaces.id %}">{{allplaces.Listing_Title}} </a></h4>

                                    <div class="rating-star">
                                        <span>

                                            <i
                                                class="fa fa-star{% if  allplaces.avg_rating < 0.5 %}-o{% elif allplaces.avg_rating >= 0.5 and allplaces.avg_rating < 1 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 1.5 %}-o{% elif allplaces.avg_rating >= 1.5 and allplaces.avg_rating < 2 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 2.5 %}-o{% elif allplaces.avg_rating >= 2.5 and allplaces.avg_rating < 3 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 3.5 %}-o{% elif allplaces.avg_rating >= 3.5 and allplaces.avg_rating < 4 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if allplaces.avg_rating < 4.5 %}-o{% elif allplaces.avg_rating >= 4.5 and allplaces.avg_rating < 5 %}-half-o {% endif %}"></i>
                                        </span>


                                    </div>






                                    <ul class="trending-address">
                                        <li><i class="ion-ios-location"></i>
                                            <p> {{allplaces.Address}}</p>
                                        </li>
                                        <li><i class="ion-ios-telephone"></i>
                                            <p>{{allplaces.Phone}}</p>
                                        </li>
                                        <li><i class="ion-android-globe"></i>
                                            <p> <a href="{{allplaces.Website}}">{{allplaces.Website}}</a></p>
                                        </li>
                                    </ul>
                                    <div class="trending-bottom mar-top-15 pad-bot-30">
                                        <div class="trend-left float-left">
                                            {% if allplaces.Category == 'Hotel' %}
                                            <span class="round-bg red"><i class="icofont-hotel"></i></span>{% endif %}
                                            {% if allplaces.Category == 'Fitness' %}
                                            <span class="round-bg green"><i class="icofont-movie"></i></span>{% endif %}
                                            {% if allplaces.Category == 'café' %}
                                            <span class="round-bg green"><i class="icofont-tea"></i></span> {% endif %}
                                            {% if allplaces.Category == 'Restaurant' %}
                                            <span class="round-bg pink"><i class="icofont-restaurant"></i></span>
                                            {% endif %}{% if allplaces.Category == 'Education' %}
                                            <span class="round-bg pink"><i
                                                    class="icofont-education"></i></span>{% endif %}
                                            {% if allplaces.Category == 'Shopping' %}
                                            <span class="round-bg red"><i
                                                    class="icofont-shopping-cart"></i></span>{% endif %}

                                            <p><a href="#">{{allplaces.Category}}</a></p>

                                        </div>


                                        {% if allplaces.Status == 'open' %}
                                        <div class="trend-right float-right">
                                            <div class="trend-open mar-top-5"><i class="ion-clock"></i>
                                                Open

                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if allplaces.Status == 'close' %}
                                        <div class="trend-right float-right">
                                            <div class="trend-closed mar-top-5"><i class="ion-clock"></i>
                                                Closed
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}







                        </div>
                    </div>
                    <div class="trending-pagination"></div>

                </div>
            </div>
        </div>
    </div>
    <!--Trending events ends-->
    <!--Testimonial Section start-->
    <div class="hero-client-section pad-bot-70 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1">People Talking About Us</h2>
                </div>
                <div class="col-md-12 mar-bot-70">
                    <div class="testimonial-wrapper swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide single-testimonial-item">
                                <div class="testimonial-img text-center">
                                    <img src="{% static 'images/clients/client_1.jpg'%}" alt="...">
                                </div>
                                <div class="testimonial-content text-center">
                                    <ul class="product-rating">
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                    </ul>
                                    <h5>Frank Jane</h5>
                                    <span>CEO, Bloomberg</span>
                                    <p>Lorem ipsum dolor adipisicing elit.iusto at laborum hic qui, minus, quasi modi
                                        assumenda quis corrupti.</p>
                                </div>
                            </div>
                            <div class="swiper-slide single-testimonial-item">
                                <div class="testimonial-img text-center">
                                    <img src="{% static 'images/clients/client_3.jpg'%}" alt="...">
                                </div>
                                <div class="testimonial-content text-center">
                                    <ul class="product-rating">
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                    </ul>
                                    <h5>Amanda Gordon</h5>
                                    <span>CMO, TechTelsa</span>
                                    <p>Lorem ipsum dolor adipisicing elit.iusto at laborum hic qui, minus, quasi modi
                                        assumenda quis corrupti.</p>
                                </div>
                            </div>
                            <div class="swiper-slide single-testimonial-item">
                                <div class="testimonial-img text-center">
                                    <img src="{% static 'images/clients/client_2.jpg'%}" alt="...">
                                </div>
                                <div class="testimonial-content text-center">
                                    <ul class="product-rating">
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                    </ul>
                                    <h5>Lee Priest</h5>
                                    <span>MD, Cornia Inc</span>
                                    <p>Lorem ipsum dolor adipisicing elit.iusto at laborum hic qui, minus, quasi modi
                                        assumenda quis corrupti.</p>
                                </div>
                            </div>
                            <div class="swiper-slide single-testimonial-item">
                                <div class="testimonial-img text-center">
                                    <img src="{% static 'images/clients/client_4.jpg'%}" alt="...">
                                </div>
                                <div class="testimonial-content text-center">
                                    <ul class="product-rating">
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                        <li><i class="ion-android-star-half"></i></li>
                                    </ul>
                                    <h5>Mark Henry</h5>
                                    <span>CEO, Alpha Inc</span>
                                    <p>Lorem ipsum dolor adipisicing elit.iusto at laborum hic qui, minus, quasi modi
                                        assumenda quis corrupti.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Testimonial Section ends-->
    <!--Partner section starts-->
    <div class="partner-section style1 pad-top-60 pad-bot-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="swiper-container partner-wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide single-partner">
                                <img src="{% static 'images/partners/1.png'%}" alt="...">
                            </div>
                            <div class="swiper-slide single-partner">
                                <img src="{% static 'images/partners/2.png'%}" alt="...">
                            </div>
                            <div class="swiper-slide single-partner">
                                <img src=" {% static 'images/partners/3.png'%} " alt="... ">
                            </div>
                            <div class="swiper-slide single-partner ">
                                <img src="{% static 'images/partners/4.png'%} " alt="... ">
                            </div>
                            <div class="swiper-slide single-partner ">
                                <img src="{% static 'images/partners/5.png'%} " alt="... ">
                            </div>
                            <div class="swiper-slide single-partner ">
                                <img src="{% static 'images/partners/6.png'%} " alt="... ">
                            </div>
                        </div>
                    </div>
                    <div class="slider-btn v1 partner-next "><i class="ion-arrow-right-c "></i></div>
                    <div class="slider-btn v1 partner-prev "><i class="ion-arrow-left-c "></i></div>
                </div>
            </div>
        </div>
    </div>




    <!--Partner section ends-->
    <!-- Scroll to top starts-->
    <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
    <!-- Scroll to top ends-->
    </div>
    <!--Page Wrapper ends-->

    <!--Color switcher starts-->
    <div class="color-switcher hide-color-switcher">
        <a class="switcher-button"><i class="ion-android-settings"></i></a>
        <div class="color-switcher-title text-center">
            <h5>Switch Colors</h5>
        </div>
        <div class="color-list text-center">
            <a class="color green-theme" title="green"></a>
            <a class="color red-theme" title="red"></a>
            <a class="color blue-theme" title="blue"></a>
            <a class="color orange-theme" title="orange"></a>
            <a class="color pink-theme" title="pink"></a>
            <a class="color purple-theme" title="purple"></a>
            <a class="color violet-theme" title="violet"></a>
            <a class="color aqua-theme" title="aqua"></a>
        </div>
    </div>

</body>

{% endblock content %}
