{% extends 'admin/base.htm' %} {% load static %} {% block content %}

<body>
    <div class="dash-breadcrumb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="dash-breadcrumb-content">
                        <div class="dash-breadcrumb-left">
                            <div class="breadcrumb-menu text-right sm-left">
                                <ul>
                                    <li class="active"><a href="#">Home</a></li>
                                    <li class="active"><a href="#">Dashboard</a></li>
                                    <li>Favourite Listings</li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn v3" href="{% url 'add_listing' %}"><i class="ion-plus-round"></i>Add Listing </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Dashboard breadcrumb ends-->

    <!-- Dashboard Content starts-->
    <div class="dash-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="recent-activity my-listing">
                        <div class="act-title">
                            <h5><i class="ion-social-buffer-outline"></i> Favourite Listings</h5>
                        </div>

                        <div class="viewd-item-wrap">
                            {% for fave in fav %}
                            <div class="most-viewed-item">
                                <div class="most-viewed-img">
                                    <a href="#"><img src="{{fave.Gallery.url}}" alt="..."></a>
                                </div>
                                <div class="most-viewed-detail">
                                    {% if fave.Category == 'Hotel' %}
                                    <span class="round-bg red"><i class="icofont-hotel"></i></span>{% endif %}
                                    {% if fave.Category == 'Fitness' %}
                                    <span class="round-bg green"><i class="icofont-movie"></i></span>{% endif %}
                                    {% if fave.Category == 'café' %}
                                    <span class="round-bg green"><i class="icofont-tea"></i></span> {% endif %}
                                    {% if fave.Category == 'Restaurant' %}
                                    <span class="round-bg pink"><i class="icofont-restaurant"></i></span>
                                    {% endif %}{% if fave.Category == 'Education' %}
                                    <span class="round-bg pink"><i class="icofont-education"></i></span>{% endif %}
                                    {% if fave.Category == 'Shopping' %}
                                    <span class="round-bg red"><i class="icofont-shopping-cart"></i></span>{% endif %}
                                    <h3><a href="{% url 'detail' fave.id %}">{{fave.Listing_Title}}</a></h3>
                                    <p class="list-address"><i class="icofont-google-map"></i>{{fave.Address}},
                                        {{fave.city}}
                                    </p>


                                    <div class="rating-star">
                                        <span>

                                            <i
                                                class="fa fa-star{% if  fave.avg_rating < 0.5 %}-o{% elif fave.avg_rating >= 0.5 and fave.avg_rating < 1 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if fave.avg_rating < 1.5 %}-o{% elif fave.avg_rating >= 1.5 and fave.avg_rating < 2 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if fave.avg_rating < 2.5 %}-o{% elif fave.avg_rating >= 2.5 and fave.avg_rating < 3 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if fave.avg_rating < 3.5 %}-o{% elif fave.avg_rating >= 3.5 and fave.avg_rating < 4 %}-half-o {% endif %}"></i>
                                            <i
                                                class="fa fa-star{% if fave.avg_rating < 4.5 %}-o{% elif fave.avg_rating >= 4.5 and fave.avg_rating < 5 %}-half-o {% endif %}"></i>
                                        </span>

                                        <div class="views">Views : <span>{{fave.post_views}}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="listing-button">
                                    <a href="{% url 'favourite_delte' fave.id %}" class="btn v5"><i
                                            class="ion-android-delete"></i> Delete</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



</body>




{% endblock content %}
