{% extends 'admin/base.htm' %} {% load static %} {% block content %}

<body>
    <div class="dash-breadcrumb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="dash-breadcrumb-content">
                        <div class="dash-breadcrumb-left">
                            <div class="breadcrumb-menu text-right sm-left">
                                <ul>
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Dashboard</a></li>
                                    <li>Add Listing</li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn v3" href="add-listing.html"><i class="ion-plus-round"></i>Add Listing </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Dashboard breadcrumb ends-->
    <!--Dashboard content starts-->
    <div class="dash-content">
        <div class="container-fluid">
            <div class="row">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="db-add-list-wrap">
                            <div class="act-title">
                                <h5><i class="ion-ios-information"></i> General Information :</h5>
                            </div>
                            <div class="db-add-listing">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Listing Title</label>
                                            {{form.Listing_Title}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category</label>
                                            {{form.Category}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Keywords</label>
                                            {{form.Keywords}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            {{form.Address}}
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label for="list_info">Description</label>
                                            {{form.Description}}
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Features</label>
                                            {{form.Features}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="db-add-list-wrap">
                            <div class="act-title">
                                <h5><i class="ion-image"></i> Gallery :</h5>
                            </div>
                            <div class="db-add-listing">
                                <div class="form-group">

                                    <div class="form-group">
                                        <div class="add-listing__input-file-box">

                                            {{form.Gallery}}
                                            <div class="add-listing__input-file-wrap">
                                                <i class="ion-ios-cloud-upload"></i>
                                                <p>Click here to upload your images</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="add-btn">
                                    <a href="#" class="btn v8 mar-top-20">Add Images</a>
                                </div>
                            </div>

                        </div>
                        <div class="db-add-list-wrap">
                            <div class="act-title">
                                <h5><i class="ion-ios-location"></i> Location/Contacts :</h5>
                            </div>
                            <div class="db-add-listing">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Select City</label>
                                            {{form.city}}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>State</label>
                                            {{form.State}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            {{form.Zip_Code}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Longitude (Drag marker on the map)</label>
                                            {{form.Longitude}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Latitude (Drag marker on the map) </label>
                                            {{form.Latitude}}
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div id="map"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mar-top-15">
                                            <label>Website </label>
                                            {{form.Website}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mar-top-15">
                                            <label>Phone </label>
                                            {{form.Phone}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="db-add-list-wrap">
                            <div class="act-title">
                                <h5><i class="ion-clock"></i> Opening/Business Hours :</h5>
                            </div>
                            <div class="db-add-listing">
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Monday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Tuesday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Wednesday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Thursday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Friday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Saturday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-md-2">
                                        <label class="fix_spacing">Sunday</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Opening
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="nice-select filter-input" tabindex="0"><span class="current">Closing
                                                Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><i class="ion-clock"></i> Event Date :</h4>
                                    </div>
                                </div>
                                <div class="row mar-bot-30">
                                    <div class="col-sm-4 col-12">
                                        <div id="datepicker-from" class="input-group date"
                                            data-date-format="dd-mm-yyyy">
                                            <input class="form-control" type="text" placeholder="Select date">
                                            <span class="input-group-addon"><i class="icofont-ui-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="nice-select filter-input mt-0" tabindex="0"><span
                                                class="current">Opening Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="nice-select filter-input mt-0" tabindex="0"><span
                                                class="current">Closing Time</span>
                                            <ul class="list">
                                                <li class="option selected focus">7.00 am</li>
                                                <li class="option">8.00 am</li>
                                                <li class="option">9.00 am</li>
                                                <li class="option">10.00 am</li>
                                                <li class="option">11.00 am</li>
                                                <li class="option">12.00 am</li>
                                                <li class="option">1.00 pm</li>
                                                <li class="option">2.00 pm</li>
                                                <li class="option">3.00 pm</li>
                                                <li class="option">4.00 pm</li>
                                                <li class="option">5.00 pm</li>
                                                <li class="option">6.00 pm</li>
                                                <li class="option">7.00 pm</li>
                                                <li class="option">8.00 pm</li>
                                                <li class="option">9.00 pm</li>
                                                <li class="option">10.00 pm</li>
                                                <li class="option">11.00 pm</li>
                                                <li class="option">12.00 pm</li>
                                                <li class="option">00.00 am</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="db-add-list-wrap">
                            <div class="act-title">
                                <h5><i class="icofont-ui-social-link"></i>Social Networks:</h5>
                            </div>
                            <div class="db-add-listing">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Facebook link (Optional)</label>
                                            {{form.Facebook_Link}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pinterest (Optional)</label>
                                            {{form.Pinterest}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Twitter link (Optional)</label>
                                            {{form.Twitter_Link}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <div class="res-box mar-top-10">
                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                            <label for="remember">I've read and accept <a href="terms.html">terms &amp;
                                                    conditions</a></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right sm-left">

                                        <button class="btn v8" type="submit">Submit</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>
{% endblock content %}
